In [3]:
import os
import pandas as pd
import boto3

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
os.environ['AWS_ACCESS_KEY_ID'] = 'P3dcmP4vPFdLEOnu9uWd'
os.environ['AWS_SECRET_ACCESS_KEY'] = 'D7qyDP2WJdrJWj1Kzj7EGOLTqyRy6mTNNIsu224L'
endpoint = 'https://s3-api.dal-us-geo.objectstorage.softlayer.net/'
bucket = 'mycosa1ebd3c1695845029f40ec0780fc501d'
cos_51fd21f00433421d8060e69f51aec41c = boto3.resource('s3', endpoint_url=endpoint)

df_data_1 = pd.read_csv(cos_51fd21f00433421d8060e69f51aec41c.Object(bucket,'merge_ab_chyl1.csv').get()['Body'])
pd.set_option('display.max_columns', None)
df_data_1.tail()

,INSURANCE_POLICY_ID,CUSTOMER_ID,NUMBER_OF_COMMUNICATIONS,GROSS_INCOME,AGE_OF_PARTY,CLAIMS_COUNT,CLAIMS_AMOUNT,NUMBER_OF_CLAIMS_DENIED,EDUCATION_LEVEL,EMPLOYMENT_STATUS,GENDER,MARITAL_STATUS,SENTIMENT_SCORE,GROSS_PREMIUM,PREMIUM_AMOUNT,RENEWAL_DATE,PAYMENT_FREQUENCY,CHURN,CURRENT_ROW_INDICATOR,REGION,COUNTRY,COMPETITIVE_PREMIUM_AMOUNT_MIN,COMPETITIVE_PRICE,COUNTRY_NAME,BUNDLE_INDICATOR,REGION_NAME,POSTAL_CODE,NUMBER_OF_PRODUCTS,NUMBER_OF_COMPLAINTS,PAYMENT_TYPE,CUSTOMER_TYPE,CANCELLATION_REASON,NUMBER_OF_RISKS,AUTO_MAKE,AUTO_YEAR,LENGTH_OF_CAR_OWNERSHIP,AUTO_MODEL,AGENT,CHANNEL
326,10002156,1002698,2,519,32,3,573,18,PhD,Employed,M,Married,122,550,750,4/15/18,QUARTERLY,0,1,OHIO,US,450,155,US,0,CENTRAL,430,3,0,CASH,NEW,NSF,2,GMC,2012,5,ACADIA,Lee,Bank
327,10002157,1002699,1,119152,28,1,244,17,High School,Selfemployed,M,Single,160,225,700,3/9/17,MONTHLY,0,1,OHIO,US,480,120,US,0,CENTRAL,430,2,1,CASH,LONG-TERM,EVENT,3,BMW,2015,2,4SERIES,Watson,Bank
328,10002158,1002700,0,580,41,3,158,11,High School,Retired,M,Married,125,600,1200,3/10/17,YEARLY,0,1,OHIO,US,655,90,US,0,CENTRAL,430,2,16,CREDIT,SHORT-TERM,DECEASED,4,TOYOTA,2016,1,CAMRY,Brown,Agent
329,10002159,1002701,2,71501,48,3,543,12,Graduate,Retired,M,Married,120,550,900,3/11/17,YEARLY,0,1,OHIO,US,500,50,US,0,CENTRAL,430,1,10,CASH,SHORT-TERM,DECEASED,3,BMW,2015,2,4SERIES,Watson,Agent
330,10002160,1002702,2,92099,51,4,545,9,PhD,Unemployed,F,Married,100,750,1000,4/19/18,QUARTERLY,0,1,OHIO,US,700,55,US,0,CENTRAL,430,5,0,DEBIT,NEW,NSF,2,FORD,2011,6,F150,Rogers,Bank

In [1]:
%ls -l
%pwd

total 960
-rw------- 1 scc8-d44aeb3f7d9dd3-674d31d66b72 users 64523 Aug 28 14:52 merge_ab_chyl1.csv
-rw------- 1 scc8-d44aeb3f7d9dd3-674d31d66b72 users 63731 Aug 29 12:55 merge_ab_chyl2.csv
-rw------- 1 scc8-d44aeb3f7d9dd3-674d31d66b72 users 63731 Aug 29 13:13 merge_ab_chyl3.csv
-rw------- 1 scc8-d44aeb3f7d9dd3-674d31d66b72 users 63731 Aug 29 13:33 merge_ab_chyl4.csv
-rw------- 1 scc8-d44aeb3f7d9dd3-674d31d66b72 users 64526 Aug 11 08:26 merged_ab.csv

u'/gpfs/global_fs01/sym_shared/YPProdSpark/user/scc8-d44aeb3f7d9dd3-674d31d66b72/notebook/work'

In [4]:
# checking my file objects in S3 object storage

import boto3

endpoint = 'https://s3-api.us-geo.objectstorage.softlayer.net'

cos_51fd21f00433421d8060e69f51aec41c = boto3.resource('s3', endpoint_url=endpoint)

for bucket in cos_51fd21f00433421d8060e69f51aec41c.buckets.all():
    print(bucket.name)
    for obj in bucket.objects.all():
        print("  - %s") % obj.key

mycosa1ebd3c1695845029f40ec0780fc501d
  - merge_ab_chyl1.csv
  - merged_ab.csv